{% extends './base.html' %}
{% block body %}
<body>
<div class="container-sm">
    <h1 style="margin: 1em 1em 1em 0">Dados do Usuário</h1>
    <form id="formAdd" class="row g-3 needs-validation" novalidate method="post" action="{% url 'updateuser' %}">
        {% csrf_token %}
        <div class="col-md-4">
            <label for="validationFirstName" class="form-label">Nome</label>
            <input type="text" class="form-control" id="validationFirstName" required name="name"
                   value="{{user.first_name}}">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label for="validationLastName" class="form-label">Sobrenome</label>
            <input type="text" class="form-control" id="validationLastName" required name="name"
                   value="{{user.last_name}}">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label for="validationUsername" class="form-label">Usuário</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="text" class="form-control" id="validationUsername"
                       aria-describedby="inputGroupPrepend" required name="username" value="{{user.username}}">
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label for="validationEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="validationEmail" required name="email">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-3">
            <label for="validationCustom04" class="form-label">Estado</label>
            <select class="form-select" id="validationCustom04" required name="state">
                {% if state_hometown.state %}
                <option selected value="{{state_hometown.id}}">{{state_hometown.state}}</option>
                {% else %}
                <option selected value="">Selecione:</option>
                {% endif %}

                {% for state in states %}
                <option value="{{state.id}}">{{state.state}}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                Please select a valid state.
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustom03" class="form-label">City</label>
            <select class="form-select" id="validationCustom03" required name="city">
                {% if hometown.city %}
                <option selected class="after" value="{{hometown.id}}">{{hometown.city}}</option>
                {% else %}
                <option selected class="after" value="">Selecione:</option>
                {% endif %}
            </select>
            <div class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" type="submit">Salvar Alterações</button>
        </div>
        <div class="col-md-2">
            <a class="btn btn-warning" href="{% url 'account_change_password' %}">Alterar Senha</a>
        </div>
    </form>
</div>
{% load static %}
<script src="{% static 'load_city.js' %}"></script>
<!--
<script>
    $("#formAdd select[name='state_hometown']").on('change', function(){
        $(".after").text("");
        var $this = $(this);
        if($this.val() != ''){
            $.ajax({
                url: '/'+$this.val(),
                type: 'GET',
                success: function(resp){
                    let options = '';
                    resp.data.forEach(city => {
                        options+='<option value='+city.id+'>'+city.city+'</option>';
                    });
                    $("#formAdd select[name='hometown']").find('.after').after(options);
                },
                error: function(resp){
                    console.log('Something went wrong');
                }
            });
        }else {
            $("#formAdd select[name='hometown']").find('.after').nextAll().remove();
        }
    });
</script>
-->
</body>
{% endblock body %}