{% extends './base.html' %}
{% block body %}
<body>
<div class="container-sm">
    <h1 style="margin: 1em 1em 1em 0">Cidades de Interesse</h1>
    <form class="row g-3 needs-validation" id="formAdd" novalidate method="post" action="{% url 'newinterestedcity' %}">
        {% csrf_token %}
        <div class="col-md-3">
            <label for="validationCustom04" class="form-label">Estado</label>
            <select class="form-select" id="validationCustom04" required name="state">
                <option selected value="">Selecione:</option>
                {% for state in states %}
                <option value="{{state.id}}">{{state.state}}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                Please select a valid state.
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustom03" class="form-label">City</label>
            <select class="form-select" id="validationCustom03" required name="city">
                <option selected class="after" value="">Selecione:</option>
            </select>
            <div class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Adicionar Cidade</button>
        </div>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Cidade</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for interested in interested_cities %}
        <tr>
            <td>{{interested.city}}</td>
            <td>{{interested.state.state}}</td>
            <td>
                <a href="{% url 'deleteinterestedcity' interested.id %}" class="btn btn-danger">Remover</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% load static %}
<script src="{% static 'load_city.js' %}"></script>
</body>
{% endblock body %}